<%- include("layouts/header") -%>
<%- include("layouts/navbar") -%>
  <div class="container">
    <div class="row justify-content-center">
      <% data.forEach(recipe => { %>
          <%- include('partials/recipe-card', { recipe: recipe }) %>
      <% }); %>
    </div>
  </div>
<%- include("layouts/footer") -%>