<%- include("layouts/header") -%>

      <div class="container">
        <div class="row justify-content-md-center ms-5">
            <div class="col">
                <h2>Saved Recipes</h2>
            </div>
        </div>
    </div>
    <br>
    
    <div class="container">
        <div class="row justify-content-center">
          <% data.forEach(recipe => { %>
              <%- include('partials/recipe-card', { recipe: recipe }) %>
          <% }); %>
        </div>
      </div>


  <%- include("layouts/footer") -%>