<%- include("layouts/header") -%>
<%- include("layouts/navbar") -%>

<div class="container text-center my-5">
    <div class="row justify-content-center">
        <div class="col">
            <h1 class="display-4 fw-bold">Saved Recipes</h1>
            <p class="text-muted">Your collection of favorite recipes, ready to cook!</p>
            <hr class="w-50 mx-auto">
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
      <% data.forEach(recipe => { %>
          <%- include('partials/recipe-card', { recipe: recipe }) %>
      <% }); %>
    </div>
  </div>
<%- include("layouts/footer") -%>
